.services{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    backdrop-filter: blur(2px);
    z-index:16;
    user-select: none;
}
.services.active {
    opacity: 1;
    pointer-events: all;
}
.services_content{
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 12px;

    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    width: 30vw;
    cursor:pointer;
}
.scroll{
    overflow-y: scroll;
    padding: 30px;

    height: 600px;
}
.scroll::-webkit-scrollbar{
    width: 0;
    background: transparent;
}
.scroll{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollApteka{
    margin-bottom:5px;
    padding: 5px 0 5px 20px;
}
.scrollApteka:hover{
    background-color: #9da5a2;
}
.services_content.active{
    transform: scale(1);
}
.wraperNavbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 40px;
}
.wraperNavbarText{
    color: white;
    text-align: right;
    font-size: 25px;
    margin-right: 210px;
}
.inputTitleTime{
    width: 200px;
    margin-right: 10px;
}
.inputTitleModal{
    width: 350px;
    margin-right: 10px;
}
.inputModalTime{
    width: 100px;
    margin-right: 10px;
}
.services_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.commentText{
    width: 200px;
    margin-bottom: 0;
}
.inputinfoForm{
    width: 300px;
    text-align: center;
    margin:20px auto 0;
}
.modalTitle{
    font-size: 24px;
    font-weight: bold;
}
.textModalTitle{
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}