.table {
    width: 100%;
    border: none;
    overflow-y: scroll;
    font-size: 16px;
    text-align: center;
    user-select: none;
}
.table thead th {
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    border: #f3f3f3;
}
.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}
.table tbody tr:hover{
    background-color: #b5bdba;
}
.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}
.table th td
.table tbody td {
    text-align: center;
    padding: 10px 15px;
    border: 1px #f3f3f3 solid ;
    vertical-align: top;
}
tbody tr:nth-child(odd) {
    /*background: #f3f3f3*/
}
.table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}
.aptekaCell{
    text-align: left;
    max-width: 250px;
}
.tablePhone{
    margin-top: 5px;
    font-size: 13px;
}
.bordHr{
    padding: 0px;
    margin: 5px;
}
.wraperComponent{
    width: 100vw;
    max-width: 100%;
    display: flex;
}
.wraperAddComment{
    width: 600px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-right: 30px;
    margin-top: 30px;
}
.wraperTable{
    max-width: calc(100vw - 400px);
    width: calc(100vw - 400px);
    padding: 20px 40px;
}
.textareaComment {
    width: calc(100% - 18px);
    margin-left: 10px;
}
.commentCell {
    max-width: 200px;
    text-align: left;
}
.saveButton {
    margin: 10px auto 0;
    width: fit-content;
}
.infoTableWrapper {
    max-width: 1500px;
    margin: 20px auto 0;
}
.inputinfoForm  {
    margin-bottom: 20px;
}
.colCell{
    max-width: 90px;
}

.tableSpanPhone{
    margin-left: 10px;
    font-size: 14px;
    color: #777;
}
.tableSpanKurPhone{
    font-size: 14px;
    color: #777;
}
.table tr td {
    vertical-align: middle;
}

.aptekaTitle{
    font-size: 19px;
}

.dataTitle{
    font-size: 14px;
}

.dataTitle11{
    width: 50px;
}

.inputTitleTime{
    width: 170px;
}